body.active-modal {
	overflow-y: hidden;
}

.popup-overlay {
	background: rgba(49, 49, 49, 0.8);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.popup-content {
	background: #c79292;
	padding: 14px 28px;
	border-radius: 10px;
	max-width: 600px;
	min-width: 300px;
	margin-top: 100px;
	position: relative;
}

.popup-close {
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 5px 7px;
}
