@tailwind base;

@layer base {
	#login-section {
		/* Layout (Flex / Grid) */
		@apply flex justify-center;
		padding: 0;
	}

	/* Left Section (Form / Inputs)e */
	#login-content {
		/* Layout (Flex / Grid) */
		@apply flex flex-col gap-y-5;
		@apply w-full max-w-sm min-h-fit;

		/* Styling (Padding / Border / Shadow) */
		@apply px-3 py-5;
	}

	#login-form,
	#signup-form {
		/* Layout (Flex / Grid) */
		@apply flex flex-col gap-y-4 h-full;
	}

	.sign-in-btn {
		/* Styling (Text / Font) */
		@apply underline underline-offset-[6px];
		/* Styling (Underline Decoration) */
		@apply decoration-solid decoration-primary-green-100 decoration-[3px];
	}

	#content-title {
		/* Styling (Text / Font) */
		@apply uppercase text-6xl text-white;
		/* Styling (Text Shadows) */
		text-shadow: 0px 6px 2px rgba(0, 0, 0, 0.25);
	}

	#forgot-password {
		/* Styling (Font) */
		@apply text-sm font-semibold leading-6 text-gray-300 text-center;
		/* Styling (Action States) */
		@apply hover:text-gray-500 focus:outline-none focus:text-gray-500 transition-all duration-500;
	}

	#login-btn,
	#signup-btn-form {
		/* Styling (Layout / Spacing) */
		@apply w-full px-4 py-2 rounded-md;
		/* Styling (Fonts / Text) */
		@apply text-sm font-semibold leading-6 text-center;
		/* Styling (Font Colors) */
		@apply text-primary-green-800 bg-primary-green-200;
		/* Transitioning */
		@apply transition-colors duration-500 transform;
		/* Styling (Action States) */
		@apply hover:bg-primary-green-500 focus:outline-none focus:bg-primary-green-500 hover:text-primary-green-900 focus:text-primary-green-900;
	}
	#right-content {
		/* Layout (Flex / Grid) */
		@apply hidden; /* Mobile */
		@apply md:flex flex-col justify-center items-center w-3/4 gap-y-4 min-h-full;
		min-height: 100vh;
		width: 100vw;
		/* Styling (Background) */
		@apply bg-[#5A8472];
	}
}
